{% extends 'base.html' %}

{% block title %}
    Add news :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    <h1>Add news</h1>

    <form action="{% url 'add_news' %}" method="post">
        {% csrf_token %}

        {% comment %}
            {{ form.as_p }}
        {% endcomment %}

        {{ form.non_field.errors }}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="form-label">Title: </label>
            {{ form.title }}
            <div class="invalid-feedback">
                {{ form.title.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}" class="form-label">Text: </label>
            {{ form.content }}
            <div class="invalid-feedback">
                {{ form.content.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.is_published.id_for_label }}" class="form-label">Is Published: </label>
            {{ form.is_published }}
            <div class="invalid-feedback">
                {{ form.is_published.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.category.id_for_label }}" class="form-label">Category: </label>
            {{ form.category }}
            <div class="invalid-feedback">
                {{ form.category.errors }}
            </div>
        </div>

        {% comment %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        {% endcomment %}

        <button type="submit" class="btn btn-primary btn-block">Add news</button>
    </form>

{% endblock %}
