{% extends 'base.html' %}

{% block title %}
    Add news :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Login</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>

{% endblock %}
