{% extends 'base.html' %}

{% block title %}
    Contacts :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Contacts</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-block">Send</button>
</form>

{% comment %}
{% for name in page_obj.object_list %}
    <p>{{ name }}</p>
{% endfor %}
{% endcomment %}

{% endblock %}
